apturl==0.5.2
asgiref==3.3.1
astroid==2.4.2
bcrypt==3.1.7
blinker==1.4
Brlapi==0.7.0
cachetools==4.1.1
certifi==2020.4.5.1
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.3
command-not-found==0.3
cryptography==3.0
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distro==1.5.0
distro-info===0.23ubuntu1
dj-database-url==0.5.0
Django==3.1.3
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-filter==2.4.0
django-heroku==0.3.1
django-six==1.0.4
dnspython==1.16.0
duplicity==0.8.12.0
fasteners==0.14.1
folder-color==0.0.86
folder-color-common==0.0.86
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.4
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
isort==5.6.4
jeepney==0.4.3
keyring==21.3.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lazy-object-proxy==1.4.3
lockfile==0.12.2
louis==3.14.0
macaroonbakery==1.3.1
Mako==1.1.2
MarkupSafe==1.1.1
mccabe==0.6.1
mercurial==5.5.1
mock==4.0.2
monotonic==1.5
natsort==7.0.1
netifaces==0.10.4
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
paperwork==1.3.1
paperwork-backend==1.3.1
paramiko==2.7.1
pbr==5.4.5
pexpect==4.6.0
Pillow==7.2.0
protobuf==3.12.3
psycopg2==2.8.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.16.2
pycountry==20.7.3
pycrypto==2.6.1
pycups==2.0.1
PyDrive==1.3.1
PyGObject==3.38.0
PyJWT==1.7.1
pylint==2.6.0
pymacaroons==0.13.0
PyNaCl==1.4.0
pyocr==0.7.2
pyOpenSSL==19.1.0
pypillowfight==0.3.0
PyQt5==5.15.0
pyRFC3339==1.1
pysvn==1.9.12
python-apt==2.1.3+ubuntu1
python-dateutil==2.8.1
python-debian==0.1.37
python-Levenshtein==0.12.0
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
QtPy==1.9.0
reportlab==3.5.47
requests==2.23.0
requests-unixsocket==0.2.0
rope==0.17.0
rsa==4.0
screen==1.0.1
SecretStorage==3.1.2
simplebayes==1.5.8
simplejson==3.17.0
sip==4.19.24
six==1.15.0
SQLAlchemy==1.3.19
sqlparse==0.3.1
systemd-python==234
termcolor==1.1.0
toml==0.10.2
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.25.9
usb-creator==0.3.7
wadllib==1.3.4
whitenoise==5.2.0
Whoosh==2.7.4
wrapt==1.12.1
xkit==0.0.0
xlwt==1.3.0
